name: Docker Image CI

on: [push]

env:
  container: kali-${{github.sha}}

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build the Docker image
      run: docker build -t $container .

    - name: Run the Docker image in the background, making sure it stays up for these tests
      run: docker run --name $container -d --rm $container sleep 3600

    - name: Verify AutoRecon is available in the container
      run: docker exec $container which autorecon

    - name: Verify that Proxychains-ng is available in the container
      run: docker exec $container which proxychains4
    
    - name: Verify that MSFDB is initialized
      run: docker exec $container msfdb status
    
    - name: Verify that msfconsole is available and ready in the container
      run: docker exec $container msfconsole -q -x exit

    - name: cleanup the running container
      run: docker stop $container
