name: Docker Image CI

on: [push]

env:
  container: kali-${{github.sha}}

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build the Docker image
      run: docker build -t $container .

    - name: Run the Docker image
      run: docker run --name $container -d --rm $container

    - name: Verify AutoRecon is available in the container
      run: docker exec -t $container which autorecon

    - name: Verify that Proxychains-ng is available in the container
      run: docker exec -t $containerw which proxychains4
    
    - name: Verify that MSFDB is initialized
      run: docker exec -t $container msfdb status
    
    - name: Verify that msfconsole is available in the container
      run: docker exec -t $container msfconsole -v

    - name: cleanup the running container
      run: docker stop $container
